* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;

}
#wrapper {
    height: 100vh;
    background: linear-gradient(90deg, rgba(117,187,212,.3) 0%, rgba(55,37,130,.3) 25%, rgba(97,114,164,.3) 50%, rgba(52,114,179,.3) 75%, rgba(172,176,182,.3) 100%);
}